warning: in the working copy of 'pertemuan4/.gitignore', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'pertemuan4/.vscode/extensions.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'pertemuan4/README.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'pertemuan4/index.html', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'pertemuan4/package-lock.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'pertemuan4/package.json', LF will be replaced by CRLF the next time Git touches it     
warning: in the working copy of 'pertemuan4/src/App.vue', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'pertemuan4/src/components/HelloWorld.vue', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'pertemuan4/src/main.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'pertemuan4/src/style.css', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'pertemuan4/vite.config.js', LF will be replaced by CRLF the next time Git touches it